<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />

    <p>Assign developer</p>

<%= f.collection_check_boxes :user_ids, User.developers, :id, :name, include_hidden: false  %>
</p>



