<p>
    <%= f.label :description %><br />
    <%= f.text_field :description %><br />
    <p>Assign Project </p>
    <%= f.collection_select :project_id, Project.all, :id, :name %>
    <p>Assign developer</p>
<%= f.collection_select :user_id, User.developers, :id, :name %>
</p>