<html>
<head>
<style>
table, th, td, tr {
    border: 1px solid black;
}
</style>
</head>

<table class="grid" cellpadding="10" cellspacing="0">
  <%= render partial: "#{current_user.user_role}", locals: {todos:  @todos} %>
</table>
<br>
<%= link_to 'Create new task', action: 'new' if current_user.user_role.eql?('admin') %>