<html>
<head>
<style>

article {
    margin-left: 170px;
    border-left: 1px ;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<article>
  <h1><%= @todo.name %> Description: </h1>
  <p><%= @todo.description %></p>
  <%= link_to 'Back' , dashboard_index_path %>
</article>


</body>
</html>