<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />

    <p>Assign developer</p>
     <!-- <%= collection_check_boxes(:project, :users, User.all, :id, :name) %>  -->

<%= collection_check_boxes :project, :users, User.all, :id, :name %>
</p>



