<table class="grid" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th>Project Name</th>
				<th>Developers</th>

				
			</tr>
        </thead>
<tbody>

	<% @projects.each do |project| %>
		<tr>
		<td><%= project.name %></td>
		<% project.users.each do |developer| %>
				<td><%= developer.name %></td>	
		<% end %>
		<td><%= link_to "View TODos",  todos_url(project_id: project)%> </td>
		</tr>

	<% end %>
</tbody>
</table>

<%= link_to 'New Project', action: 'new' %>